body, html {
    margin: 0;
    padding: 0;
    font: 15px sans-serif;
    background-color: #dfdfdf;
}

h1 {
    text-align: center;
    padding: 40px;
    margin: 0;
}

.chart {
    text-align: center;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis--x path {
    display: none;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
}

.bar {
    fill: lightgreen;
}

.x.axis path {
    display: none;
}
